@page
@model TaxiBooking.Web.Pages.Cars.IndexModel
@{
    ViewData["Title"] = "List Cars";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="container mt-5">
    <h2>List of Cars</h2>
    <p>
        <a class="btn btn-primary" asp-page="./Add">Add Car</a>
    </p>
    @if (Model == null || Model.PaginatedCars == null)
    {
        <div class="alert alert-info" role="alert">
            No Cars found.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Car No</th>
                        <th>Car Color</th>
                        <th>Car Model</th>
                        <th>Registration Expiry Date</th>
                        <th>Year of Manufacture</th>
                        <th>Owner Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model?.PaginatedCars?.Cars ?? new List<CarViewModel>())
                    {
                        <tr>
                            <td>@car.CarNumber</td>
                            <td>@car.CarColor</td>
                            <td>@car.CarModel</td>
                            <td>@car.RegistrationExpiryDate</td>
                            <td>@car.YearOfManufacture</td>
                            <td>@car.OwnerName</td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-page="./Edit" asp-route-id="@car.Id">Edit</a>
                                <a class="btn btn-secondary btn-sm" asp-page="./Details" asp-route-id="@car.Id">Details</a>
                                <a class="btn btn-danger btn-sm" onclick="confirmDelete('@car.Id')">Delete</a>
                                @*<button class="btn btn-danger" onclick="confirmDelete('@car.Id')">Delete</button>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.PaginatedCars.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-page="1">First</a>
                    </li>
                    <li class="page-item @(Model.PaginatedCars.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-page="@(Model.PaginatedCars.CurrentPage - 1)"> &lt;&lt; </a>
                    </li>
                    @for (int i = 1; i <= Model.PaginatedCars.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PaginatedCars.CurrentPage == i ? "active disabled" : "")">
                            <a class="page-link" asp-page="./Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PaginatedCars.CurrentPage == Model.PaginatedCars.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-page="@(Model.PaginatedCars.CurrentPage + 1)">&gt;&gt;</a>
                    </li>
                    <li class="page-item @(Model.PaginatedCars.CurrentPage == Model.PaginatedCars.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-page="@Model.PaginatedCars.TotalPages">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    }

</div>
@section Scripts {
    <script>
        function confirmDelete(carId) {
            var confirmation = confirm('Are you sure you want to delete car ?');
            if (confirmation) {
                $.ajax({
                    method: 'DELETE',
                    url: '/Cars/Index?id=' + carId,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: { id: carId },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
    </script>
}